.auth-form {
  padding: 7.81rem !important;
}

.min-h-100 {
  min-height: 100vh;
}

@media (min-width: 960px) {
  .h-md-100 {
    height: 100% !important;
  }
}

@media (max-width: 500px) {
  .h-120vh {
    height: 120vh !important;
  }
}

:deep(.primary) {
  width: 100% !important;
}

:deep(.v-otp-input__content) {
  direction: ltr !important;
}
